    <form class='new-vet-form'>
        <input type="hidden" name="pet-id" value="{{pet.id}}" />
        <p>
            What date did this visit take place?
        </p>
            <input type="date" id='new-visit-date'>
        <p>
            What took place during this visit?
        </p>
        <textarea id='new-visit-description'></textarea>
        <p>
            What was pet's recorded weight?
        </p>
        <textarea id='new-visit-weight'></textarea>
        <button type="submit" id='new-visit-submit'>Submit</button>
    </form>


<script src="/js/new-vet.js"></script>