    <form class='new-vet-form'>
        <p>
            What date did this visit take place?
        </p>
        <textarea id='new-visit-date'></textarea>
        <p>
            What took place during this visit?
        </p>
        <textarea id='new-visit-description'></textarea>
        <p>
            What was pet's recorded weight?
        </p>
        <textarea id='new-visit-weight'></textarea>
    </form>

<button id='new-visit-submit'>Submit</button>

