<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Vet Visit</title>
</head>
<body>
    <form>
        <p>
            What date did this visit take place?
        </p>
        <textarea> {{date}} </textarea>
        <p>
            What took place during this visit?
        </p>
        <textarea> {{description}} </textarea>
        <p>
            What was pet's recorded weight?
        </p>
        <textarea> {{weight}} </textarea>
    </form>
</body>
</html>