
    <section class="new-pet">
      <form id="new-pet-form">
        <label for="pname">Pet's name:</label><br />
        <input type="text" id="pname" name="pname" /><br />
        <label for="pspecies">Pet Type:</label><br />
        <input type="text" id="pspecies" name="pspecies" /><br />
        <label for="pbreed">Breed of Animal:</label><br />
        <input type="text" id="pbreed" name="pbreed" />
        <label for="pbday">Date of Birth:</label><br />
        <input type="date" id='pbday' name='pbday'>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-dark col-4">Save Pet</button>
        </div>
      </form>
    </section>

    <script src="/js/new-pet.js"></script>