
    <section class="new-pet">
      <form id="new-pet-form">
        <label for="pname">Pet's name:</label><br />
        <input type="text" id="pname" name="pname" /><br />
        <label for="pspecies">Type of Animal:</label><br />
        <input type="text" id="pspecies" name="pspecies" />
        <label for="pcolor">Color of Animal:</label><br />
        <input type="text" id="pcolor" name="pcolor" />
        <label for="pbday">Date of Birth:</label><br />
        <input type="text" id="pbday" name="pbday" />
        <button type="submit">Click here to save pet info!</button>
      </form>
    </section>

    <script src="/js/new-pet.js"></script>