<body>
    <div>
        <button class="col-6">Edit Pet Info</button>
        <button class="col-6">Delete Pet</button>
    </div>

    <div>
        <h3>{{pet.name}}</h3>
        <h5>{{pet.type}}</h5>
        <h5>{{pet.color}}</h5>
        <h5>{{pet.dateofbirth}}</h5>
    </div>
    {{!-- Populate vet visits for pet --}}
</body>