<section>
    <p id='vet-visit-date'>
        Date:
        {{date}}
    </p>
    <p id='vet-visit-description'>
        Description:
        {{description}}
    </p>
    <p id='vet-visit-weight'>
        Weight:
        {{weight}}
    </p>
    <div>
        <button class='col-6' id='delete-visit-btn'>Delete</button>
        <button class='col-6' id='update-visit-btn'>Update</button>
    </div>  
</section>
