
<section>
    <p id='vet-visit-date'>
        Date:
        {{vet.date}}
    </p>
    <p id='vet-visit-description'>
        Description:
        {{vet.description}}
    </p>
    <p id='vet-visit-weight'>
        Weight:
        {{vet.weight}}
    </p>
    <div>
        <button class='col-6' id='delete-visit-btn'>Delete</button>
        <button class='col-6' id='update-visit-btn'>Update</button>
    </div>  
</section>


<script src="/js/edit-vet.js"></script>
