.test{
    font-size: 50px !important;
}
.card-link {
    font-size: 30px !important;
}

.footer {
    font-size: 25px;
}

body{
    padding: 20px;
    background-image: url("/images/pets.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}